<% if !current_user.nil? %>

<p>current user id and name</p>
<p><%= current_user.id %></p>
<p><%= current_user.name %></p>


<p>now</p>
<p><%= @now %></p>

<p>last_update</p>
<p><%= @last_update %></p>

<p>time diff</p>
<p><%= @time_diff %></p>


<h2>Don't Follow You Back: </h2>
    <table>
      <tr>
        <th>Handle</th>
      </tr>
      <% @nonfollowers.each do |user| %>
        <tr>
          <td><%= user %></td>
        </tr>
      <% end %>
    </table>

    <h2>You Don't Follow Back: </h2>
    <table>
      <tr>
        <th>Handle</th>
        <th></th>
      </tr>
      <% @your_non_followers.each do |user| %>
        <tr>
          <td><%= user %></td>
        </tr>
      <% end %>
    </table>
<% else %>
    <p>You must log in.</p>
<% end %>
