<% if !current_user.nil? %>

<h3>time diff</h3>
<p><%= @time_diff %></p>

<h2>Rude People: </h2>
    <table>
      <tr>
        <th>Handle</th>
        <th>UnFollowBack</th>
      </tr>
      <% @nonfollowers.each do |peep| %>
        <tr>
          <td><%= peep %></td>
          <td><%= button_to 'UnFollowBack', {:controller => "home", :action => "unfollow", :peep_name => peep, :user_id=> session[:user_id]} , :method=>:post  %></td>
        </tr>
      <% end %>
    </table>

    <h2>Your Groupies: </h2>
    <table>
      <tr>
        <th>Handle</th>
        <th>FollowBack</th>
      </tr>
      <% @your_non_followers.each do |peep| %>
        <tr>
          <td><%= peep %></td>
          <td><%= button_to 'FollowBack', {:controller => "home", :action => "follow", :peep_name => peep, :user_id=> session[:user_id]} , :method=>:post  %></td>

        </tr>
      <% end %>
    </table>
<% else %>
    <p>You must log in.</p>
<% end %>
