<% if !current_user.nil? %>

<h3>now</h3>
<p><%= @now %></p>

<h3>follower last_update</h3>
<p><%= @follower_last_update %></p>

<h3>followee last_update</h3>
<p><%= @follower_last_update %></p>

<h3>list</h3>
<p><%= @list %></p>
<h3>most recent</h3>
<p><%= @most_recent %></p>

<h3>time diff</h3>
<p><%= @time_diff %></p>

<h2>Don't Follow You Back: </h2>
    <table>
      <tr>
        <th>Handle</th>
        <th>Unfollow</th>
      </tr>
      <% @nonfollowers.each do |user| %>
        <tr>
          <td><%= user %></td>
          <!-- <td><%# link_to "Follow", home_follow_path(user) %></td> -->
          <!-- <td><%# client.unfollow<%= user %> %></td> -->
          <!-- <td><a href="https://twitter.com/<%= user %>" class="twitter-follow-button" data-show-count="false">UnFollow <%= user %></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></td> -->
        </tr>
      <% end %>
    </table>

    <h2>You Don't Follow Back: </h2>
    <table>
      <tr>
        <th>Handle</th>
      </tr>
      <% @your_non_followers.each do |user| %>
        <tr>
          <td><%= user %></td>
        </tr>
      <% end %>
    </table>
<% else %>
    <p>You must log in.</p>
<% end %>
