<% if !current_user.nil? %>
  <!-- <h3>time diff</h3>
  <p><%# @time_diff %></p>

  <h2>DATA ORIGIN</h2>
  <p><%# @data_origin %></p> -->
  <div class="row" id="f-data">
      <h4 class="small-12 medium-4 columns follow-title"><img class="blue-bird" src="assets/blue_bird.png" alt="bird">FOLLOWING<p><strong><%= link_to "#{ @total_following }", ("http://twitter.com/" + "#{current_user.name}" + "/following" ), target: :_blank, class: "total_following" %></strong></p></h4>
      <h4 class="small-12 medium-4 columns follow-title"><img class="blue-bird" src="assets/blue_bird.png" alt="bird">FOLLOWERS<p><strong><%= link_to "#{ @total_followers }", ("http://twitter.com/" + "#{current_user.name}" + "/followers" ), target: :_blank, class: "total_followers" %></strong></p></h4>
      <h4 class="small-12 medium-4 columns" id="rate-block"><img class="blue-bird" src="assets/blue_bird.png" alt="bird">GOLDEN RATE
        <% if @followees_images.length > @followers_images.length %>
          <p class="red"><strong><%= @golden_rate %></strong></p>
        <% else %>
          <p class="green"><strong><%= @golden_rate %></strong></p>
        <% end %>
      </h4>
  </div>
  <div class="row">
    <div class="small-5 medium-5 columns list">
      <h2 class="header"><img class="white-bird" src="/assets/white_bird.jpg" alt="white bird"> NONFOLLOWERS   </h2>
      <table>
        <% @nonfollowers_names_and_images.each do |peep| %>
          <tr>
            <td>
              <a href="http://twitter.com/<%= peep[0] %>", target='_blank' >
                <img class="hover" src="<%= peep[1] %>" alt="rude person image">
              </a>
            </td>
            <td><%= link_to "@#{ peep[0] }", ("http://twitter.com/" + "#{peep[0]}" ), target: :_blank, class: "name" %></td>
            <td><%= button_to 'Unfollow', {:controller => "home", :action => "unfollow", :peep_name => peep[0], :user_id=> session[:user_id]} , :method=>:post, :class=>'unfollow-button' %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="small-5 medium-5 columns list">
      <h2 class="header"><img class="white-bird" src="/assets/white_bird.jpg" alt="bird"> GROUPIES   </h2>
      <table>
        <% @groupies_names_and_images.each do |peep| %>
          <tr>
            <td>
              <a href="http://twitter.com/<%= peep[0] %>", target='_blank' >
                <img class="hover" src="<%= peep[1] %>" alt="groupie person image">
              </a>
            </td>
            <td><%= link_to "@#{ peep[0] }", ("http://twitter.com/" + "#{peep[0]}" ), target: :_blank, class: "name" %></td>
            <td><%= button_to "Follow", {:controller => "home", :action => "follow", :peep_name => peep[0], :user_id=> session[:user_id]} , :method=>:post, :class=>'follow-button'   %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <container class="title">
    <img id="white-bird-title" src="/assets/white_bird.jpg" alt="white bird">
    <h1 class="title">UnFollowBack</h1>
  </container>
  <img src="/assets/UnFollowBack.jpg" alt="UnFollowBack Screenshot" id="screenshot">
<% end %>
