<!DOCTYPE html>
<html>
  <head>
    <title>UnFollowBack</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
        <% if current_user %>
          <div id="signed-in">
            Signed in as <img class="hover" src="<%= @current_user_image %>" alt="current user image">
              <%= link_to ("@" + current_user.name), ("http://twitter.com/" + "#{current_user.name}" ), target: :_blank, id: "user-name" %>!
          </div>
          <% if @current_uri == "/faqs" %>
            <div class="nav-session">
              <%= link_to "Home", root_path %>
            </div>
          <% else %>
            <div class="nav-session">
              <%= link_to "FAQs & Contact Info", faqs_path %>
            </div>
          <% end %>
          <div id="sign_out">
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </div>
        <% else %>
          <div id="sign_in">
            <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
          </div>
          <% if @current_uri == "/faqs" %>
            <div class="nav-no-session">
              <%= link_to "Home", root_path %>
            </div>
          <% else %>
            <div class="nav-no-session">
              <%= link_to "FAQs & Contact Info", faqs_path %>
            </div>
          <% end %>
        <% end %>

    </header>
    <div>
      <%= yield %>
    </div>
    <footer>
      <div id="copyright">
        <div>
          &copy; 2017 Mary Morrison - Ada Developers Academy Cohort 6
        </div>
        <div>
          UnFollowBack&trade; is neither endorsed nor certified by Twitter.
        </div>
      </div>
    </footer>
  </body>
</html>
